body {
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.4);
    background-color: snow;
}

.container {
    display: flex;
    flex-direction: column;
}

.formGrid {
    display: inline-grid;
    justify-items: center;
}


@media screen and (orientation: portrait) {
    .formGrid {
        grid-template-columns: auto;
        gap: 8px;
        & *:nth-child(2n){
            margin-bottom: 30px;
        }
    }    
}

@media screen and (orientation: landscape) {
    .formGrid {
        grid-template-columns: auto min-content;
        gap: 16px;
    } 
    #action {
        grid-column: 1 / span 2;
    }    
}

#action {
    height: 54px;
    background-color: lightgray;
}