body {
    margin: 0;
}

.root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.formGrid {
    display: inline-grid;
    grid-template-columns: auto min-content;
    gap: 8px;
    margin: 20px 0;
}

#statBtn {
    width: 100%;
    height: 40px;
}